// app global css in SCSS form
@font-face {
    font-family: baloo;
    src: url(../assets/Baloo-Regular.ttf);
}

#q-app {
    font-family: baloo;
}

.text-shadow {
    text-shadow: 0 6px 4px #00000025;
}