// app global css in SCSS form
@font-face {
    font-family: baloo;
    src: url(../assets/Baloo-Regular.ttf);
}

#q-app {
    font-family: baloo;
}

.baloo-font {
    font-family: baloo;
}

.text-shadow {
    text-shadow: 0 6px 4px #00000025;
}

.bg-tb1 {
    background-color: $tb1 !important;
}

.bg-tb2 {
    background-color: $tb2 !important;
}

.bg-tb3 {
    background-color: $tb3 !important;
}

.bg-tb4 {
    background-color: $tb4 !important;
}

.bg-tb5 {
    background-color: $tb5 !important;
}